@charset "utf-8";

@font-face {
    font-family: 'IDroid';
    src: url('fontes/idroid.otf') format('opentype');
}
body{
    background-color: #80dba8;
}
header{
    background-image: linear-gradient(to bottom, #3bd580 ,#195a36);
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    width: auto;
    padding: 20px;
    border-radius: 15px ;
    margin: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
}
header > h1{
    font:normal normal 3em 'arial';
    color: white;
}
header > p{
    font:normal bold 1em 'arial';
    color: white;
    margin: 5px;
    text-align: center;
}
nav{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 5px;
    text-align: left;
}
nav > a{
    font: normal bold 22px 'arial';
    margin-right: 25px;
    color: white;
    text-decoration: none;
}
nav > a:hover{
    background-color: #95dab491 ;
    text-decoration: underline;
}
main{
    background-color: white;
    margin: 0px 227.5px;
    border-radius: 20px;
    align-items: center;
}
article > h1{
    font: normal bold 35px 'IDroid';
    text-align: center;
    color: #1a5c38;
}
article > h2{
    background-image: linear-gradient( to right,  #80dba8, rgba(255, 255, 255, 0));
    font: normal bold 25px 'IDroid';
    text-align: left;
    color: #1a5c38;
}
article > p{
    font: normal bold 1em 'arial';
    text-align: justify;
}
article{
    margin: 25px 10px;
}
img{
    text-align: center;
    width: auto;
    width: 100%;
}
#video{
    background-color: #1a5c38;
    margin: 0px;
}
iframe{
    align-items: center;
    margin: 25px 0px;
    width: 100%;
}
#final{
     background-color: #c5ebd6;
     border-radius: 20px;
}
#final > h1{
    background-color:#2da362;
    color: white;
    border-radius: 20px 20px 0px 0px ;
}
p{
    font: normal bold 1em 'arial';
    text-align: justify;
    margin: 35px;

}
footer{
    width: 100%;
    background-color: #1a5c38;
    color: white;
    margin: 0px;
}
footer > p{
    text-align: center;
    padding: 10px 10px;
}